@model BookFormViewModel

@{
    ViewData["Title"] = "Book Form";
}


<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <span class="svg-icon svg-icon-2">
                    </span>
                    <!--end::Svg Icon-->
            </div>
        </div>
        <!--begin::Content-->
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">@(Model.Id.Equals(0) ? "Add " : "Edit") Book</h5>
        </div>
        <!--end::Content-->
    </div>

</div>

<div class="card shadow-sm">
    <div class="card-body">
        <form method="post" asp-controller="Books" enctype="multipart/form-data">
            @if (Model.Id >0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Title" asp-for="Title" />
                            <label asp-for="Title"></label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <select class="form-select" asp-for="AuthorId" asp-items="@Model.Authors">
                                <option value="">select author</option>
                            </select>
                            <label asp-for="AuthorId"></label>
                        </div>
                        <span asp-validation-for="AuthorId" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class=" mb-2">
                            <select class="form-select" asp-for="SelectedCategories" asp-items="@Model.Categories">
                                <option value="">select Category</option>
                            </select>
                            <label asp-for="SelectedCategories"></label>
                        </div>
                        <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Title" asp-for="Publisher" />
                            <label asp-for="Publisher"></label>
                        </div>
                        <span asp-validation-for="Publisher" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <input type="date" class="form-control" placeholder="Title" asp-for="PubllishingDate" />
                            <label asp-for="PubllishingDate"></label>
                        </div>
                        <span asp-validation-for="PubllishingDate" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <div>
                              
                                <img id="ImagePreview" src="~/images/books/@(Model.ImageURL is null ? "Elmaghrabi.png" : Model.ImageURL)" alt="Book Image" class="img-thumbnail" />
                            </div>
                            <input type="file" class="form-control" placeholder="Image" asp-for="Image" accept=".Jpg , .Png , .Jpeg" 
                            onchange="document.getElementById('ImagePreview').src = window.URL.createObjectURL(this.files[0])"/>
                            <label asp-for="Image"></label>
                        </div>
                        <span asp-validation-for="Image " class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Hall" asp-for="Hall" />
                            <label asp-for="Hall"></label>
                        </div>
                        <span asp-validation-for="Hall" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" asp-for="IsAvailableForRental">
                        <label class="form-check-label" asp-for="IsAvailableForRental">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-5 ">
                        <div class="form-floating mb-2">
                            <textarea class="form-control" placeholder="Leave a comment here" asp-for="Discription"></textarea>
                            <label asp-for="Discription"></label>
                        </div>
                        <span asp-validation-for="Discription" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">
                    Save
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
